.page{
    background-color: $page-color;
    .container{
        max-width: 1640px;
        height: inherit;
        margin: $center;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: $header-size $main-size $footer-size;
        min-height: 100%;
        .header{
            position: relative;
            background-color: $header-color;
            z-index: 999;
            &-body{
                height: 100%;
            }
        }
        .main{
            position: relative;
            height: 100%;
        }
        .footer{
            .footer_container{
                padding-top: 32px;
                padding-bottom: 32px;
                height: inherit;
            }
            &-body{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-grow: 1;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                &-desktop{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: inherit;
                    .footer-navigation{
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        &__element{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            flex-grow: 1;
                            .footer_title_ul{margin-bottom: 12px;}
    
                            ul{
                                display: flex;
                                flex-direction: column;
                            }
    
                            &::after{
                                position: absolute;
                                content: "";
                                width: 2px;
                                height: 100%;
                                background-color: $clear;
                                top: 0;
                                right: 0;
                            }
                            &:nth-last-child(1)::after{width: 0; height: 0;}
                        }
                    }
                    .footer-developers{
                        display: flex;
                        justify-content: space-between;
                        gap: $out-gap;
                        width: 100%;
                        .mini-developers{
                            display: flex;
                            flex-wrap: wrap;
                            .mini-developer{
                                display: flex;
                                align-items: center;
                            }
                        }
                        .icons{
                            display: flex;
                            flex-wrap: wrap;
                        }
                    }
                }
            }
        }
    }
}
