// CARDS


.card{
    position: relative;
    width: inherit; height: inherit;
    box-shadow: $card-shadow;
}

.card-movie{
    width: 256px;
    height: 364px;
    &_title{
        position: absolute;
        top: 24px;
        left: -12px;
        pointer-events: none;
    }
    .visible{animation: ShowCardContent 0.75s;}
    &__content{
        position: absolute;
        width: 512px;
        min-height: 320px;
        background-color: $clear;
        pointer-events: none;
        &-top{
            position: relative;
            height: 256px;
            box-shadow: $shadow;
            .date{
                position: absolute;
                display: flex;
                justify-content: center;
                width: 100%;
                bottom: 0; left: 0;
                padding: 6px 12px;
                color: $clear;
                background-color: rgba($color: $dark, $alpha: 0.32);
            }
        }
        &-down{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            min-height: 256px;
            gap: $inside-gap;
            padding: 6px;
            .descriptions{font-size: 16px;}
            .status,.episodes,.descriptions{color: $dark;}
        }
    }
}






// CODEC


.player{
    &__titles{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $out-gap;
        margin-bottom: 12px;
    }
    .codec{
        display: grid;
        grid-template-columns: minmax(820px,1fr) minmax(164px,364px);
        grid-auto-rows: 640px;
        &__video{}
        &__menu{
            background-color: $clear;
            overflow-y: auto;
            box-shadow: -2px 0 6px rgba($color: $dark, $alpha: 0.25);
        }
    }
}



.episodes{
    .episode{
        position: relative;
        padding: $inside-gap;
        @extend %episode;
        &::after{
            position: absolute;
            content: "";
            left: 0; bottom: 0;
            width: 100%; height: 1px;
            background-color: $red;
            pointer-events: none;
        }
    }
    .episode_active{
        color: $dark;
        background-color: $red;
        box-shadow: 0 0 6px rgba($color: $red, $alpha: 0.8);
    }
}

// DIFFERENTS

.green{background-color: #25df35;}
.yellow{background-color: #929c32;}
.red{background-color: $red;}
.nav__item_active>a{color: $red;}

.stars{
    &__container{
        position: relative;
        display: inline-flex;
    }
    .star{font-size: 24px;}
    
    .star-inner{
        position: absolute;
        top: 0; left: 0;
        overflow: hidden;
        width: 0;
    }
    .star-out::before,.star-inner::before{
        content: "\f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
    .star-out::before{color: $dark;}
    .star-inner::before{color: $red;}
}

.mini-rate{
    position: absolute;
    top: -12px; left: -12px;
    padding: 12px;
    color: $clear;
    border-radius: 32px;
}

.genres{
    display: flex;
    gap: $inside-gap;
    flex-wrap: wrap;
    .genre{
        min-width: 86px;
        padding: 4px 8px;
        color: $clear;
        background-color: $red;
        border: 2px;
        text-align: center;
        cursor: pointer;
        @extend %genre;
    }
}

.status{.span{color: $red;}color: $clear;}
.episodes{.span{color: $red;}color: $clear;}

// SECTIONS

.section{
    .content{
        padding: 24px 16px;
        max-width: 1640px;
        width: 100%;
        height: inherit;
        margin: 0 auto;
    }
}


.section-movies{
    .content_row{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(128px,224px));
        grid-auto-rows: 320px;
        justify-content: space-between;
        gap: $out-gap;
        .card-movie{
            width: inherit;
            height: inherit;
            opacity: 0.64;
            @extend %card-movie;
        }
    }
}

.section-movie{
    .movie{
        &>*{margin-bottom: $out-gap;}
        &>*:nth-last-child(1){margin-bottom: 0;}
        .preview{
            display: flex;
            gap: $out-gap;
            .card{flex-shrink: 0;}
            &__info{
                display: flex;
                flex-direction: column;
                gap: $inside-gap;
                flex-grow: 1;
                &-titles{
                    gap: $inside-gap;
                }
            }
        }
        .descriptions{color: $clear;}
    }
}

.section-search{
    .content_row{
        display: flex;
        .input-search{flex-grow: 8;}
        .filter{flex-grow: 1;}
    }
}