@media(max-width: 100vw) {
    .player .codec{grid-template-columns: minmax(420px,1fr) minmax(164px,224px); grid-auto-rows: 640px;}
    .card-movie__content-mobile{display: none;}
    .section-movie .content_row{
        .movie{
            .preview{
                .card{&-movie{opacity: 1;}}
            }
        }
    }
}

@media (max-width: 1023px) {
    .section-search .content_row{
    }
    .section-movies .content_row{
        display: flex;
        flex-direction: column;
        .card{
            display: flex; gap: $inside-gap;
            &-movie{
                flex-shrink: 0;
                width: 186px; height: 256px;
                opacity: 1;
                &_title{top: 42px; max-width: 186px; font-size: 12px;}
                &__content-mobile{
                    display: block;
                    height: 100%;
                    .descriptions{font-size: 16px;}
                }
            }
        }
    }
}

@media (max-width: 786px) {
    .page .wrapper .header-body{display: none;}
    .section-movies .content_row{
        .card{
            &-movie{
                &__content-mobile{
                    .descriptions{font-size: 14px;}
                }
            }
        }
    }
    .title{font-size: 24px;}
    .movie_eng_title{font-size: 24px;}
    .movie_rus_title{font-size: 16px;}
    .section-movie .movie{
        .preview{gap: 12px;}
        .descriptions{font-size: 14px;}
    }
    //genres{&>*{flex-grow: 1;}}
    .player .codec{
        grid-template-columns: 1fr;
        grid-auto-rows: 320px 240px;
    }
}

@media (max-width: 564px) {
    .movie_rus_title{font-size: 14px;}
    .ytp-chrome-bottom{height: 12px;}
    .footer-description{font-size: 14px;}
    .section-movies .content_row .card-movie__content-mobile{
        &>*{margin-bottom: 4px;}
        &>*:nth-last-child(1){margin-bottom: 0;}
    }
    .section-movies .content_row{
        .card-movie_title{max-width: 124px; font-size: 10px;}
        .card{
            gap: 6px;
            &-movie{
                width: 132px; height: 186px;
            }
        }
    }
    .genres .genre{
        font-size: 14px;min-width: 42px;
    }
    .section-movie .movie{
        .preview{
            flex-direction: column;
            align-items: center;
            .card{flex-shrink: 1;}
        }
    }
    .player .codec{
        grid-template-columns: 1fr;
        grid-auto-rows: 320px 240px;
    }
    .section-movies .content_row .card-movie__content-mobile .descriptions{display: none;}
    .footer-navigation{
        flex-direction: column;
        &>*{margin-bottom: 12px;}
    }
    .page .wrapper .footer-body{
        .content_row{gap: 12px;}
        .footer-navigation{
            .ul-footer{
                gap: 6px;
            }
            .ul-footer::after{
                top: auto;
                bottom: -6px;
                left: 0;
                width: 100%;
                height: 1px;
            }
        }
    }
}

@media (max-width: 364px) {
    .section .content{padding: 0;}
    .player .codec{
        grid-template-columns: 1fr;
        grid-auto-rows: 240px 164px;
    }
}


@media (max-width: 320px) {
    .player .codec{
        grid-template-columns: 1fr;
        grid-auto-rows: 164px 164px;
    }
}