* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  font-size: 18px;
  overflow-x: hidden;
}

img, svg, iframe {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.logo {
  width: 128px;
}

button, input, textarea {
  border: none;
  outline: none;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0);
}

:focus, :active {
  outline: none;
}

a {
  display: block;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-size: inherit;
}

body::-webkit-scrollbar {
  width: calc(6px - 0.15vmin + 0.15vmax);
}
body::-webkit-scrollbar-track {
  background-color: #191919;
}
body::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border-radius: 2px;
}

.root {
  width: inherit;
  height: inherit;
}

.hiden {
  opacity: 0;
}

.visible {
  -webkit-animation: Show 0.75s;
          animation: Show 0.75s;
}

@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton-Regular.ttf");
}
.title {
  font-weight: normal;
  font-size: 24px;
}

.card-movie_title {
  padding: 4px 6px;
  max-width: 224px;
  color: #FFFFFF;
  background-color: #ce3333;
  font-size: 14px;
}

.card-movie_age {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 12px 13px;
  color: #FFFFFF;
  background-color: #ce3333;
  border-radius: 4px;
}

.eng_title {
  font-family: "Anton";
  letter-spacing: 2px;
}

.movie_eng_title {
  font-size: 32px;
  color: #FFFFFF;
}

.movie_rus_title {
  font-size: 18px;
  color: #FFFFFF;
}

.player_title {
  color: #FFFFFF;
  font-size: 42px;
}

.player_age {
  color: rgba(255, 255, 255, 0.24);
}

.page {
  background-color: #1D1D1D;
}
.page .content {
  max-width: 1640px;
  height: inherit;
  margin: 0 auto;
}
.page .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 64px 1fr 364px;
  grid-template-rows: 64px 1fr 364px;
  min-height: 100%;
}
.page .wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.page .wrapper > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.page .wrapper > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.page .wrapper .header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.42);
  z-index: 999;
}
.page .wrapper .header-body {
  height: 100%;
}
.page .wrapper .header-body .content_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.page .wrapper .header-body .content_row .nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.page .wrapper .main {
  position: relative;
  height: 100%;
}
.page .wrapper .footer {
  background-color: rgba(0, 0, 0, 0.64);
}
.page .wrapper .footer .footer_container {
  padding-top: 32px;
  padding-bottom: 32px;
  height: inherit;
}
.page .wrapper .footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.page .wrapper .footer-body-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
}
.page .wrapper .footer-body-desktop .footer-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.page .wrapper .footer-body-desktop .footer-navigation__element {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.page .wrapper .footer-body-desktop .footer-navigation__element .footer_title_ul {
  margin-bottom: 12px;
}
.page .wrapper .footer-body-desktop .footer-navigation__element ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page .wrapper .footer-body-desktop .footer-navigation__element::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #FFFFFF;
  top: 0;
  right: 0;
}
.page .wrapper .footer-body-desktop .footer-navigation__element:nth-last-child(1)::after {
  width: 0;
  height: 0;
}
.page .wrapper .footer-body-desktop .footer-developers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  width: 100%;
}
.page .wrapper .footer-body-desktop .footer-developers .mini-developers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page .wrapper .footer-body-desktop .footer-developers .mini-developers .mini-developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page .wrapper .footer-body-desktop .footer-developers .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input[type=search] {
  min-width: 256px;
  padding: 12px;
  color: #ce3333;
  -webkit-box-shadow: 0 0 8px rgba(206, 51, 51, 0.24);
          box-shadow: 0 0 8px rgba(206, 51, 51, 0.24);
}

.card {
  position: relative;
  width: 256px;
  height: 364px;
  -webkit-box-shadow: 0 0 8px rgba(29, 29, 29, 0.5);
          box-shadow: 0 0 8px rgba(29, 29, 29, 0.5);
}
.card-movie {
  width: 100%;
  height: 100%;
  opacity: 0.64;
}
.card-movie_title {
  position: absolute;
  top: 24px;
  left: -12px;
  pointer-events: none;
}
.card-movie__content-pc {
  position: absolute;
  width: 512px;
  min-height: 320px;
  background-color: #FFFFFF;
  pointer-events: none;
}
.card-movie__content-pc__top {
  position: relative;
  height: 256px;
  -webkit-box-shadow: 0 4px 8px rgba(29, 29, 29, 0.25);
          box-shadow: 0 4px 8px rgba(29, 29, 29, 0.25);
}
.card-movie__content-pc__top .date {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 6px 12px;
  color: #FFFFFF;
  background-color: rgba(29, 29, 29, 0.32);
}
.card-movie__content-pc__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 256px;
  gap: 12px;
  padding: 6px;
}
.card-movie__content-pc__down .descriptions {
  font-size: 16px;
}
.card-movie__content-pc__down .status, .card-movie__content-pc__down .episodes, .card-movie__content-pc__down .descriptions {
  color: #1D1D1D;
}
.card-movie__content-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
.card-movie__content-mobile .mini-rate {
  z-index: 6;
}
.card-movie__content-mobile > * {
  margin-bottom: 12px;
}
.card-movie__content-mobile > *:nth-last-child(1) {
  margin-bottom: 0;
}

.player__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-bottom: 12px;
}
.player .codec {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(820px, 1fr) minmax(164px, 364px);
  grid-template-columns: minmax(820px, 1fr) minmax(164px, 364px);
  grid-auto-rows: 640px;
}
.player .codec__menu {
  background-color: #FFFFFF;
  overflow-y: auto;
  -webkit-box-shadow: -2px 0 6px rgba(29, 29, 29, 0.25);
          box-shadow: -2px 0 6px rgba(29, 29, 29, 0.25);
}

.episodes .episode {
  position: relative;
  padding: 12px;
}
.episodes .episode::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ce3333;
  pointer-events: none;
}
.episodes .episode_active {
  color: #1D1D1D;
  background-color: #ce3333;
  -webkit-box-shadow: 0 0 6px rgba(206, 51, 51, 0.8);
          box-shadow: 0 0 6px rgba(206, 51, 51, 0.8);
}

.green {
  background-color: #25df35;
}

.yellow {
  background-color: #929c32;
}

.red {
  background-color: #ce3333;
}

.nav__item_active > a {
  color: #ce3333;
}

.stars__container {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.stars .star {
  font-size: 24px;
}
.stars .star-inner {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
}
.stars .star-out::before, .stars .star-inner::before {
  content: "\f005\f005\f005\f005\f005\f005\f005\f005\f005\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.stars .star-out::before {
  color: #1D1D1D;
}
.stars .star-inner::before {
  color: #ce3333;
}

.mini-rate {
  position: absolute;
  top: -12px;
  left: -12px;
  padding: 12px;
  color: #FFFFFF;
  border-radius: 32px;
}

.genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.genres .genre {
  min-width: 86px;
  padding: 4px 8px;
  color: #FFFFFF;
  background-color: #ce3333;
  border: 2px;
  text-align: center;
  cursor: pointer;
}

.status {
  color: #FFFFFF;
}
.status .span {
  color: #ce3333;
}

.episodes {
  color: #FFFFFF;
}
.episodes .span {
  color: #ce3333;
}

.section .content {
  padding: 24px 16px;
  max-width: 1640px;
  width: 100%;
  height: inherit;
  margin: 0 auto;
}

.section-movies .content_row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 224px));
  grid-auto-rows: 320px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.section-movies .content_row .card {
  width: inherit;
  height: inherit;
}

.section-movie .movie > * {
  margin-bottom: 24px;
}
.section-movie .movie > *:nth-last-child(1) {
  margin-bottom: 0;
}
.section-movie .movie .preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.section-movie .movie .preview .card {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.section-movie .movie .preview__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.section-movie .movie .preview__info-titles {
  gap: 12px;
}
.section-movie .movie .descriptions {
  color: #FFFFFF;
}

.section-search .content_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-search .content_row .input-search {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}
.section-search .content_row .filter {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-movie {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.card-movie:hover {
  opacity: 1;
  z-index: 2;
}

.episodes .episode {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.episodes .episode:hover {
  color: #1D1D1D;
  background-color: #ce3333;
  -webkit-box-shadow: 0 0 6px rgba(206, 51, 51, 0.8);
          box-shadow: 0 0 6px rgba(206, 51, 51, 0.8);
}

.genres .genre {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.genres .genre:hover {
  color: #ce3333;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 6px rgba(206, 51, 51, 0.8);
          box-shadow: 0 0 6px rgba(206, 51, 51, 0.8);
}

.page .wrapper .header-body .content_row .nav__item > a {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.page .wrapper .header-body .content_row .nav__item > a:hover {
  color: #ce3333;
}

@-webkit-keyframes ShowCardContent {
  0% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ShowCardContent {
  0% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 100vw) {
  .card-movie__content-mobile {
    display: none;
  }
  .player .codec {
    -ms-grid-columns: minmax(420px, 1fr) minmax(164px, 224px);
    grid-template-columns: minmax(420px, 1fr) minmax(164px, 224px);
    grid-auto-rows: 420px;
  }
}
@media (max-width: 1023px) {
  .section-search {
    display: none;
  }
  .section-movies .content_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-movies .content_row .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
  .section-movies .content_row .card-movie {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 186px;
    height: 256px;
  }
  .section-movies .content_row .card-movie_title {
    top: 42px;
    max-width: 186px;
    font-size: 12px;
  }
  .section-movies .content_row .card-movie__content-mobile {
    display: block;
    height: 100%;
  }
  .section-movies .content_row .card-movie__content-mobile .descriptions {
    font-size: 16px;
  }
}
@media (max-width: 786px) {
  .page .wrapper .header-body {
    display: none;
  }
  .title {
    font-size: 24px;
  }
  .movie_eng_title {
    font-size: 24px;
  }
  .movie_rus_title {
    font-size: 16px;
  }
  .section-movie .movie .preview {
    gap: 12px;
  }
  .section-movie .movie .descriptions {
    font-size: 14px;
  }
  .player .codec {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: 320px 240px;
  }
}
@media (max-width: 564px) {
  .ytp-chrome-bottom {
    height: 12px;
  }
  .section-movie .movie .preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-movie .movie .preview .card {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .player .codec {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: 320px 240px;
  }
}
@media (max-width: 364px) {
  .section .content {
    padding: 0;
  }
  .player .codec {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: 240px 164px;
  }
}
@media (max-width: 320px) {
  .player .codec {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: 164px 164px;
  }
}